<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <title>Schema App</title>
</head>
<body class="bg-faded">
  <div class="container-fluid p-2 bg-inverse text-white">🎩 Hat App™</div>
    {{{body}}}
  </div>
</body>
</html>
